<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
</head>

<body>
    <div class="container">
        <main class="loginMain">
           <!--회원가입섹션-->
            <section class="login">
                <article class="login_form_container">
                  
                   <!--회원가입 폼-->
                    <div class="login_form">
                        <!--로고-->
                    <!-- <h1><img src="/images/logo.jpg" alt=""></h1>-->
                         
                        <!--회원가입 인풋-->
                        <form class="login_input" action="/auth/signup" method="post">
                            <input type="text" class="username" name="username" placeholder="아이디" required="required" maxlength="20"/>
                            <button onclick="usernameCheck(event)">중복 아이디 체크</button>
                            <input type="password" name="password" placeholder="패스워드" required="required" />
                            <input type="email" name="email" placeholder="이메일" required="required" />
                            <input type="text" name="name" placeholder="이름" required="required" />
                            <button>가입</button>
                        </form>

                    </div>
                    
                    <!--계정이 있으신가요?-->
                    <div class="login__register">
                        <span>계정이 있으신가요?</span>
                        <a href="/auth/signin">로그인</a>
                    </div>

                </article>
            </section>
        </main>
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/signup.js"></script>