<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
</head>

<body>
    <div class="container">
        <main class="loginMain">
        <!--로그인섹션-->
            <section class="login">
               <!--로그인박스-->
                <article class="login__form__container">
                   <!--로그인 폼-->
                   <div class="login__form">

                        <!--로그인 인풋-->
                        <form class="login__input" action="/auth/signin" method="post">
                            <input type="text" name="username" placeholder="유저네임" required="required" style="font-size: 30px"/>
                            <input type="password" name="password" placeholder="비밀번호" required="required" style="font-size: 30px"/>
                            <button style="font-size: 30px">로그인</button>
                            <a href="/" style="font-size: 30px"> 홈으로 </a>
                        </form>

                        <!-- 또는 -->
                        <div class="login__horizon">
                            <div class="br"></div>
                            <div class="or">또는</div>
                            <div class="br"></div>
                        </div>

                        <!--<%&#45;&#45;&lt;!&ndash; Oauth 소셜로그인 &ndash;&gt;
                        <div class="login__facebook">
                            <button onclick="javascript:location.href='/oauth2/authorization/facebook'">
                                <i class="fab fa-facebook-square"></i>
                                <span>Facebook으로 로그인</span>
                            </button>
                        </div>
                        &lt;!&ndash; Oauth 소셜로그인end &ndash;&gt;&#45;&#45;%>-->
                    </div>
                    
                    <!--계정이 없으신가요?-->
                    <div class="login__register">
                        <span>계정이 없으신가요?</span>
                        <a href="/auth/signup">가입하기</a>
                    </div>

                </article>
            </section>
        </main>
        
    </div>
</body>

</html>