<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<head>
    <meta charset="UTF-8">
    <title>Article</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>

<header >
    <th:block th:if="${isLogin}">
        <input type="hidden" th:value="${principal.id}">
    </th:block>
    <div class="header">
        <h1 onclick="location.href='/'">🎈zzangLog🎈</h1>
        <button class="button" th:if="${isLogin}" onclick="location.href='/edit'">새 글 작성</button>
        <button class="button" th:if="${isLogin}" onclick="location.href='/logout'">로그아웃</button>
        <button class="button" th:if="${isLogin}" th:onclick="|location.href='/blog/${principal.id}'|">내 블로그</button>
        <button class="button" th:if="${isLogin}" onclick="location.href='/user/update'">회원 수정</button>
        <button class="button" th:unless="${isLogin}" onclick="location.href='/auth/signin'">로그인</button>
        <th:block th:if="${isLogin}">
            <h2 th:text="${principal.username}"></h2>
        </th:block>
        <th:block th:unless="${isLogin}">
            <h2>방문자</h2>
        </th:block>
    </div>
</header>
