<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/myblog.css">
<div class="header" th:replace="fragment/header :: header" ></div>

<span class="blogname" th:text="${blogDto.user.blogName}">블로그네임</span>
<th:block th:if="${isLogin}">
    <button class="subscribe-info" th:onclick="subscribeModalOpen('[[${blogDto.user.id}]]')">구독정보</button>
    <button class="subscribeBtn" th:if="${!blogDto.isPageOwnerState() and !blogDto.isSubscribeState()}"
            th:onclick="toggleSubscribe('[[${blogDto.user.id}]]',this)">구독하기</button>
    <button class="subscribeBtn red" th:if="${!blogDto.isPageOwnerState() and blogDto.isSubscribeState()}"
            th:onclick="toggleSubscribe('[[${blogDto.user.id}]]',this)">구독취소</button>
</th:block>

    <div class="profile">
        <img th:src="|/profile/${blogDto.user.profileImageUrl}|" style="width: 150px; height: 150px;border-radius: 70%">
        <span class="username" th:text="${blogDto.user.username}" style="font-size: 35px; font-weight: bold;">유저네임</span>
        <span class="blogintro" th:text="${blogDto.user.blogIntro}" style="font-size: 20px;">블로그 소개</span>
    </div>
    <hr class="profile-underline">

    <div class="articleList">
        <div class="article" th:each="article : ${blogDto.user.getArticles()}" th:onclick="|location.href='/article/${article.id}'|">
            <div class="imgDiv">
                <img class="thumbnail" th:src="|/edit/file2/${article.thumbnailUrl}|" onerror="this.src = '/thumbnail/basic.jpg'">
            </div>
            <p th:text="${article.title}">제목</p>
            <p th:text="${article.description}">요약</p>
            <p th:text="${article.createdDate}">작성일</p>
        </div>
    </div>

<!--=============구독 정보 모달 start=======================-->
<div class="modal-subscribe">
    <div class="subscribeList-container">
       <!-- <div class="item">
                <div class="imgDiv">
                    <img class="profile2" src="/profile/dong2.jpg">
                </div>
                <span class="username">HELLO</span>
            </div>
            <hr class="line">-->
    </div>
</div>
<!--=============구독 정보 모달 end=======================-->

</body>
</html>
<script src="/js/user.js"></script>
