<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src=""></script>
</head>
<body>

    <form class="form" id="userUpdateForm" th:onsubmit="userUpdate('[[${user.id}]]',event)">
    <div class="profile">
        <img th:src="|/profile/${user.profileImageUrl}|" style="width: 150px; height: 150px;border-radius: 70%">
        <input id="username" name="username" th:value="${user.username}" style="font-size: 25px; font-weight: bold;">
        <input id="blogIntro" name="blogIntro" th:value="${user.blogIntro}" style="font-size: 18px; font-weight: bold;">
        <input id="blogName" name="blogName" th:value="${user.blogName}" style="font-size: 25px; font-weight: bold;">

        <button style="font-size: 20px;" >수정하기</button>
    </div>
    </form>
        <button onclick="window.history.back()">블로그 홈</button>
        <!--<button style="font-size: 20px;background-color: darksalmon">회원탈퇴</button>-->

</body>
</html>
<script src="/js/user.js"></script>
<style>
    .profile{
        display:flex;
        width: 60%;
        margin: auto;
        flex-flow:column nowrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: honeydew;
    }

</style>