
.button{
    font-size: 30px;
    height: 50px;
}
.articleList-container {
    display:flex;
    width: 93%;
    margin: auto;
    margin-top: 70px;
    flex-flow:row wrap;
    justify-content: center;
    /*background-color: aquamarine;*/
    /*height:100vh;*/
    /*box-sizing:border-box;*/
}
.item {
    width: 390px;
    margin: 20px;
    box-shadow: 1px 1px 5px #d2d2d2;
    border-radius: 5px;
    background-color: snow;
    /*flex-basis:50%;*/
    /*box-sizing:border-box;*/
}
.item .imgDiv{
    width: 391px;
    height: 230px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
.item .imgDiv .thumbnail{
    width: 100%;
    width: 100%;
    object-fit: cover;
}
.item .content{

}
body{
    background-color: ;
}
