<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/article.css">

</head>
<body>
    <button class="button" onclick="location.href='/logout'">로그아웃</button>
    <button class="button" onclick="location.href='/'">홈으로</button>

    <div class="article-container">

        <h1 class="title" th:text="${article.title}"></h1>

        <div>
            <span th:text="${article.user.username}"></span>
            <span th:text="${article.createdDate}"></span>
        </div>

        <div>
        <img class="thumbnail" style="max-width: 21cm" th:src="|/thumbnail/${article.thumbnailUrl}|" onerror="this.src = '/thumbnail/zz.jpg'">
        </div>

        <div>
            <p th:text="${article.content}"></p>
        </div>

        <th:block th:if="${isLogin}">
        <button class="button" th:if="${article.user.id eq principalId}" th:onclick="updateId('[[${article.id}]]')">글 수정</button>
        <button class="button" th:if="${article.user.id eq principalId}" th:onclick="deleteId('[[${article.id}]]')">글 삭제</button>
        </th:block>

        <div style="height: 60px"></div>

        <th:block th:if="${isLogin}">
        <div class="comment-input-container">
            <textarea class="comment-input" placeholder="댓글을 작성하세요" style="width:100%;height: 2cm;font-size: 18px"></textarea>
            <button class="button" th:onclick="addComment('[[${article.id}]]')">댓글 작성</button>
        </div>
        </th:block>

        <div style="height: 40px"></div>

        <div class="comment-list-container">
            <hr style="border:1px solid gainsboro;">
            <div class="comment-item" th:each="comment : ${comments}">
                <div class="profile">
                    <div class="imgDiv">
                        <img class="img" src="/thumbnail/munzi2.jpg" >
                    </div>
                    <div class="usernameDate">
                        <span th:text="${comment.user.username}"><b>hihi</b></span>
                        <span th:text="${comment.createdDate}">2021-05-05</span>
                    </div>
                    <a href="#" th:if="${principalId eq comment.user.id}">삭제</a>
                </div>
                <p th:text="${comment.content}">첫 댓글 입니다.</p>
                <hr style="border:1px solid gainsboro;">
            </div>
        </div>

        <button class="getMoreBtn" th:onclick="getComment('[[${article.id}]]')" >더보기</button>

    </div>
    
</body>
</html>

<script src="/js/article.js"></script>
