<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/article.css">

    <div class="header" th:replace="fragment/header :: header" ></div>

    <th:block th:if="${isLogin}"><input type="hidden" id="principalId" th:value="${principal.id}"></th:block>

    <div class="article-container">

        <h1 class="title" th:text="${article.title}"></h1>

        <div class="writer">
            <b><span th:text="${article.user.username}+'  '" th:onclick="|location.href='/blog/${article.user.id}'|"></span></b>
            <span th:text="${article.createdDate}"></span>
        </div>

        <div>
            <img class="thumbnail" style="max-width: 21cm" th:src="|/thumbnail/${article.thumbnailUrl}|" onerror="this.src = '/thumbnail/basic.jpg'">
        </div>

        <div th:utext="${article.content}"></div>

        <th:block th:if="${isLogin}">
        <button class="update-btn" th:if="${article.user.id eq principal.id}" th:onclick="|location.href='/update?id=${article.id}'|">글 수정</button>
        <button class="delete-btn" th:if="${article.user.id eq principal.id}" th:onclick="|location.href='/delete?id=${article.id}'|">글 삭제</button>
        </th:block>

        <div style="height: 60px"></div>

        <th:block th:if="${isLogin}">
        <div class="comment-input-container">
            <textarea class="comment-input" placeholder="댓글을 작성하세요"></textarea>
            <button class="button" th:onclick="addComment('[[${article.id}]]')">댓글 작성</button>
        </div>
        </th:block>

        <div style="height: 40px"></div>

        <div class="comment-list-container">
            <hr class="line">
            <div class="comment-item" th:each="comment : ${comments}" th:id="${comment.id}">
                <div class="profile">
                    <div class="imgDiv">
                        <img class="img" th:src="|/profile/${comment.user.profileImageUrl}|" >
                    </div>
                    <div class="usernameDate">
                        <b><span th:text="${comment.user.username}" th:onclick="|location.href='/blog/${comment.user.id}'|">hihi</span></b>
                        <span th:text="${comment.createdDate}">2021-05-05</span>
                    </div>
                    <th:block th:if="${isLogin}">
                    <span th:onclick="deleteComment('[[${comment.id}]]')" th:if="${principal.id eq comment.user.id}">삭제</span>
                    </th:block>
                </div>
                <p class="c-content" th:text="${comment.content}">첫 댓글 입니다.</p>
                <hr class="line">
            </div>
        </div>

        <button class="getMoreBtn" th:onclick="getComment('[[${article.id}]]')" >더보기</button>

    </div>
    
</body>
</html>

<script src="/js/article.js"></script>
