<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/home.css">

    <div class="header" th:replace="fragment/header :: header" ></div>

    <div class="articleList-container">
        <input type="hidden">

        <div class="item" th:each="article : ${articles}" th:onclick="|location.href='/article/${article.id}'|">
            <input class="article-id" type="hidden" th:value="${article.id}" name="articleId" />

            <div class="imgDiv">
                <img class="thumbnail" th:src="${article.thumbnailUrl}" onerror="this.src = '/thumbnail/basic.jpg'"/>
            </div>

            <div class="content">
                <div class="article-title">
                    <p th:text="${article.title}">제목</p>
                </div>

                <div class="description">
                    <p th:text="${article.description}">요약</p>
                </div>

                <div class="createdDate">
                    <p th:text="${article.createdDate}">생성날짜</p>
                </div>

                <div class="username">
                        <p>by <b th:text="${article.user.username}">유저이름</b></p>
                </div>
            </div>
        </div>

    </div>

</body>
</html>

<script src="/js/home.js"></script>